Repository sendahug/send-hug-backend, pull requests merged in 2024-06, with the labels that each got.

#638 feature: enable sending messages along with hugs (for posts)
  changelog/pr638.json
  create_app.py
  tests/test_posts.py
Labels: tests

#640 change: Replaced the string database URL with a JSON of the db credentials.
  .circleci/config.yml
  README.md
  app.py
  changelog/pr640.json
  config.py
  models/db.py
  tests/conftest.py
Labels: CI/CD, Docs, models, tests

#626 chore: added cloudbuild test and deploy scripts
  Dockerfile
  README.md
  changelog/pr626.json
  cloudbuild-live.yaml
  cloudbuild-staging-test.yaml
  cloudbuild-staging.yaml
  config.py
  create_app.py
  get_secrets.sh
  migrations/env.py
Labels: Docs, models

#642 change: Handle messaging based on the user's JWT instead of a query param.
  changelog/pr642.json
  create_app.py
  tests/test_messages.py
Labels: tests
